body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 4rem;
    margin: 3rem 70px 0 70px;
    font-family: 'Poppins', sans-serif;
}

#checkOutContent {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem 0 8rem;
}

#dropdown {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#filterButton {
    background-color: #253031;
    padding: 0.5rem;
    width: 100px;
    color: white;
    border: none;
    cursor: pointer;
}

#filterButton:hover, #filterButton:focus {
    background-color: #3c4a4c;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #253031;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
.show {
    display: flex;
}

#card {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 1rem;
    border-radius: 4px;
    transition: 0.3s;
}

#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card img {
    height: 600px;
    object-fit: contain;
}

#price  {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #253031;
}

.discounted {
    color: red;
    font-size: 1.1rem;
}

.cartTab {
    width: 400px;
    background-color: #374151;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab {
    right: 0;
}

body.showCart .content {
    transform: translateX(-250px);
}

.cartTab h2 {
    padding: 20px;
    margin: 0;
    padding-bottom: 64px;
    font-weight: 300;
    border-bottom: 1px solid #eee;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2,  1fr);
}

.cartTab button {
    background-color: #e8bc0e;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close {
    background-color: #eee;
}

.cartCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.cartCard h4{
    margin: 0;
}

.remove {
    height: 20px;
    width: 80px;
}

#checkoutForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 15vw;
}

#checkoutForm label {
    margin-top: 1rem;
}

#checkOutBasket {
    margin-top: 2rem;
    border: 1px solid #374151;
    min-height: 50vh;
    width: 30vw;
    border-radius:4px;
}

#checkOutBasket img{
    width: 10vw;
}

.footer {
    margin-top: 4rem;
}